<h2>Welcome to CSE Motors!</h2>
<div id="side">
  <img src="/images/vehicles/delorean.jpg" alt="Delorean Car Image" />
  <div id="overlay">
    <h3>DMC Delorean</h3>
    <li>3 Cup holders</li>
    <li>Superman doors</li>
    <li>Fuzzy dicel</li>
    <button>Own Today</button>
  </div>
</div>
<section id="description">
  <div>
    <h3>DMC Delorean Reviews</h3>
    <li>"So fast it's almost like traveling in time"(4/5)</li>
    <li>"Coolest ride on the road"(4/5)</li>
    <li>"I'm feeling McFly!"(5/5)</li>
    <li>"The most futuristic ride of our day."(4.5/5)</li>
    <li>"80's living and I love it!"(5/5)</li>
  </div>
  <div id="upgrades">
    <h3>Delorean Upgrades</h3>
    <ul>
      <li>
        <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor" />Flux
        Capacitor
      </li>
      <li>
        <img src="images/upgrades/flame.jpg" alt="Flame Decals" />Flame Decals
      </li>
      <li>
        <img
          src="images/upgrades/bumper_sticker.jpg"
          alt="Bumper Sticker"
        />Bumper Stickers
      </li>
      <li><img src="images/upgrades/hub-cap.jpg" alt="Hub Caps" />Hub Caps</li>
    </ul>
  </div>
</section>
